/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    /* BACKGROUND IMAGE
    background-image: url("sads.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 700px;
    */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
   
  } 
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: gray;
    
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    POSITION: FIXED;
  }
  
  .openbtn:hover {
    background-color: white;
    color: black;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 20px;}
    .sidebar a {font-size: 18px;}
    
  }
/*-------button--*/
.button {
border-radius: 50px;
background-color: white;
border: none;
color: black;
text-align: center;
font-size: 30px;
padding: 20px;
width: 300px;
transition: all 0.5s;
cursor: pointer;    
}

.button span {
cursor: pointer;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

.center {
  padding: 10px;
  display: block;
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

h1{
    padding-top: 20px;
}

.padding{
    padding-top: 50px;
}
body{
    background-color:black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cen-img{
        width: 100%;
        max-width: 5000px;
        height: auto;
      }

      .cen-img2{
        width: 90%;
        max-width: 5000px;
        height: auto;
      }

      /*SLIDE TO UP BUTTON*/
      #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 25px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: black; /* Set a background color */
         /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 25px; /* Some padding */
        border-radius: 5px; /* Rounded corners */ /* Increase font size */
        
      }
      
      #myBtn:hover {
        background-color: gray; /* Add a dark-grey background on hover */
      }

 hr.solid {
margin-top: 100px;
margin-bottom: 100px;
border-top: 1px solid #bbb;
opacity: 20%;
      }

      

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

     
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer a{
  color:white;
}